

    h1{
        margin: 0;
        font-size: 100px;
    }
    .container{
        display: block;
        margin-top: -22px;
        margin-right: -15px;
        margin-left: -15px;
        height: 400px;
        background-color: #68AC61;
        text-align: center;
    }
    .todo-list{
        width: 500px;
        margin: 0 auto;
    }
    .new-li{
        margin-left: -8%;
        width: 100%;
        position: relative;
        display: inline-block;
    }
    .new-todo{
         position: relative;
         margin: 0;
         width: 500px;
         font-size: 24px;
         font-family: inherit;
         font-weight: inherit;
         line-height: 1.4em;
         outline: none;
         color: inherit;
         padding: 16px 16px 16px 60px;
         border: 1px solid #999;
         box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
         box-sizing: border-box;
         -webkit-font-smoothing: antialiased;
     }
    .left-items{
        font-size: large;
        width: 20%;
        height: 100%;
        float: left;
        padding-top: 45px;
        color: darkgreen;
    }
    .menu{
        display: none;
        margin: 0 auto;
        height: 70px;
        background-color: aquamarine;
        width: 499px;
        font-size: 20px;
        font-family: inherit;
        font-weight: inherit;
    }
    .add-new-todo{
        /*position: relative;*/
        /*margin: 0;*/
        width: 85.8%;
        font-size: 24px;
        font-family: inherit;
        font-weight: inherit;
        line-height: 1.4em;
        outline: none;
        color: inherit;
        padding: 16px 16px 16px 60px;
        border: 1px solid #999;
        box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
    }
    .btn-deleted{
        font-family: serif;
        font-size: medium;
        font-weight: bold;
        height: 66px;
        line-height: 69px;
        margin-top: -20px;
        width: 10%;
        background-color: red;
        border-style: none;
        cursor: pointer;
    }
    .clear-completed{
        font-size: large;
        width: 30%;
        height: 100%;
        float: right;
        padding-top: 45px;
        color: darkgreen;
    }
    button.clear{
        float: right;
        background-color: cornflowerblue;
        border: none;
        font-family: cursive;
        font-size: 15px;
        cursor: pointer;
    }